.wrap, .login-body, .register-body {
	justify-content: center;
	align-items: center;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: url("https://asdb.az.gov/wp-content/uploads/2016/05/gradient_11.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.wrap {
	width: 100%;
	height: 100vh;
	background: rgba(138, 164, 190, 0.5);
	display: flex;
}

.login {
	width: 300px;
	background-color: #fff;
	box-shadow: 0px 2px 5px 1px #7f8c8d;
}

.toggle-bar {
	width: 100%;
	height: 50px;
	display: flex;
}

.toggle-bar > :first-child {
	border-right: 1px solid #253443;
}

.toggle-bar > :last-child {
	border-left: 1px solid #253443;
}

.toggle-login, .toggle-register {
	width: 50%;
	background-color: #2c3e50;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: background 0.3s;
}

.toggle-login span, .toggle-register span {
	color: #fff;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
}

.toggle-login:hover, .toggle-register:hover {
	background-color: #425d78;
}

.active {
	background-color: #425d78;
}

.login-body, .register-body {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.login-body p, .register-body p {
	color: #5f5f5f;
	font-size: 0.9em;
	cursor: pointer;
	transition: color 0.2s;
	margin-bottom: 8px;
}

.login-body p:hover, .register-body p:hover {
	color: #2f2f2f;
}

.input-section {
	width: 100%;
	text-align: center;
}

.input-section:first-child {
	margin-top: 20px;
}

input, .btn {
	width: 150px;
	padding: 10px 15px;
	margin-top: 10px;
}

input.user-input, .btn.user-input {
	border: 1px solid #ddd;
}

.btn {
	background-color: #2c3e50;
	color: #fff;
	border: none;
	margin-bottom: 30px;
	transition: background-color 0.2s;
}

.btn:hover {
	background-color: #425d78;
	cursor: pointer;
}

i {
	color: #2c3e50;
	margin-right: 5px;
}

.user-input:focus {
	border: 1px solid #aaa;
}