{% load static %}
<link rel="stylesheet" href="{% static "css/admin.css" %}">

<title>Admin Home</title>
<header role="banner">
  <h1>Admin Home</h1>
  <ul class="utilities">
    <br>
    <li class="users"><a href="#">Account</a></li>
    <li class="logout warn"><a href="/logout/">Log Out</a></li>
  </ul>
</header>

<nav role='navigation'>
  <ul class="main">
    <li><a href="/admin/home/">Dashboard</a></li>
    <li><a href="#">Remove Website</a> </li>
    <li><a href="#">Tech. Info</a></li>
  </ul>
</nav>
{% block content %}
<main role="main">
  <h1>Websites reported by users</h1>
  <p>Website Lists</p>
  </section>
</main>
{% endblock %}