{% load static %}
<link rel="stylesheet" href="{% static "css/admin.css" %}">
<title>Admin Home</title>
<header role="banner">
  <h1>Admin Home</h1>
  <ul class="utilities">
    <br>
    <li class="users"><a href="#">Account</a></li>
    <li class="logout warn"><a href="/logout/">Log Out</a></li>
  </ul>
</header>

<nav role='navigation'>
  <ul class="main">
    <li class="dashboard"><a href="/admin/home/">Dashboard</a></li>
    <li class="edit"><a href="#">Submit Website</a></li>
    <li class="edit"><a href="#">Remove Website</a> </li>
    <li class="users"><a href="#">Users Analysis</a></li>
    <li class="dashboard"><a href="#">Tech. Info</a></li>
  </ul>
</nav>

<main role="main">
  <section class="panel important" align="center">
    <h2>Submit a website</h2>
      <form action="" method="post">
        <div class="twothirds">
          Website title:<br/>
          <input type="text" name="title" size="40"/><br/><br/>
          Link To Crawl:<br/>
          <textarea name="newstext" size="40"></textarea><br/>
        </div>
        <div>
        </div>
        </div>
          <!-- TODO: fix the button position-->
          <input type="submit" name="submit" value="Sumbit" />
      </form>
  </section>

</main>
