{%  load static %}
<html lang="en" style="background-color: #445566">
    <head>
        <meta charset="UTF-8">
        <title>SearchIt</title>
        <link rel="stylesheet" href="{%  static "css/main.css" %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    </head>
    <nav style="background-color: #445566">
        <div class="container nav-wrapper">
            <a href="/home/" class="brand-logo" >SearchIt</a>
            <ul id="nav-mobile" class="right">
                <li><a href="/home/">Home</a></li>
                <li><a href="/savedLinks/">Saved Links</a></li>
                <li><a href="/savedResults/">Saved Results</a></li>
                <li><a href="/savedHistory/">Saved History</a></li>
                <li><a href="/logout/">Logout</a></li>
                <li><a href="/settings/">Settings</a></li>
            </ul>
        </div>
    </nav>
<div class="container">
    <h1 style="text-align: center">What Would You Like To Search?</h1>
</div>
    <form action="{%  url 'search' %}" method="POST" align="center" >
        {% csrf_token %}
        <input type="text" name="search" spellcheck="true" autocomplete="on" placeholder="search">
        <button style="background-color: #445566" class="btn waves-effect waves-light" type="submit" name="action">Search</button>
    </form>
</html>