<title>Welcome To SearchIt</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">SearchIt</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'user_login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <li><a href="{% url 'user_signup' %}"><span class="glyphicon glyphicon-user"></span> SignUp</a></li>
                        {% block content %}{% endblock content %}

    </ul>
  </div>
</nav>
    <body>
  <h1 align="center">Welcome To Search It</h1>
    </body>

<!--TODO: Add Information on why SearchIt is a good alternative to google lol -->