
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>Login</h2>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                <form class="form-horizontal" role="form" action="">

                </form>
                </div>
            </div>
        </div>
    </div>
</div>