{% load static %}

<title>Login | SearchIt</title>
<link rel="stylesheet" href="{% static "css/login.css" %}">
{% block content %}
    <div class="login">
  <h2 class="login-header">Login</h2>
  <form method="POST" class="login-container">
      {% csrf_token %}
    <p><input type="email" name="email" placeholder="Email"></p>
    <p><input type="password" name="password" placeholder="Password"></p>
    <p><input type="submit" name="submit" value="Log in"></p>
    <a href="{% provider_login_url 'google' %}">Login With Google</a>
  </form>
</div>
{% endblock %}