<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/home"><b>SearchIt</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                {% if username == "" %}
                      <input class="form-control input-sm" type="text" id="login-username" placeholder="Name / Email">  
                      <input type="password" class="form-control input-sm" id="login-password" placeholder="Password">
                        <button class="btn btn-sm btn-primary">Login </button>
                        <button  class="btn btn-sm btn-info">Register </button>
                {% else %}
                    <div class="input-group">
                     <span class="label label-primary h1">{{ username }}</span>
                     &nbsp;
                     <a class="nav-link" href="/submitWebsite/">Submit Website</a>
                     <a class="nav-link" href="/saveHistory/">Save History</a>
                      </div>
                {% endif%}
                </li>
        </ul>

    </div>
</nav>

</body>
</html>