{% include 'navbar.html' %}
<title>Search Result</title>

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

/*
tr:nth-child(even) {
  background-color: #dddddd;
}
*/
</style>
</head>
<body>
<table align="center">
  <tr>
    <th>Results</th>
  </tr>
</table>

<p>You searched for {{Query}}</p>
<p>And have got </br> <a href="{{ Result }}">{{Result}} </a></p>

<p>{{ FileInfo }}</p>