<title>Search Result</title>

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

/*
tr:nth-child(even) {
  background-color: #dddddd;
}
*/
</style>
</head>
<body>
<table>
  <tr>
    <th>Title</th>
    <th>Url</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>Title</td>
    <td>Url</td>
    <td>Description</td>
  </tr>
  <tr>
    <td>Title</td>
    <td>Url</td>
    <td>Description</td>
  </tr>
  <tr>
    <td>Title</td>
    <td>Url</td>
    <td>Description</td>
  </tr>
</table>