{% load static %}

<link rel="stylesheet" href="{% static "css/login.css" %}">
<title>Settings | SearchIt</title>
<h1 align="center" style="color: white">Settings</h1>
{{error}}
{% block content %}
<div class="login">
    <form action="" method="POST" />
    {% csrf_token %}
    <p><input type="password" name="current_password" placeholder="Current Password"/></p>
    <p><input type="password" name="new_password" placeholder="New Password"/></p>
    <p><input type="password" name="confirm_password" placeholder="Confirm Password"/></p>
    <p><input type="submit" name="submit" value="Submit"/></p>
    </form>
</div>

{% endblock %}