.Footer {
  display: grid;
  grid-template-columns: 40% 60%;
  background-color: var(--default-color);
  align-self: center;
  @media (max-width: 992px) {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }

  &__right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  &__left{
    display: flex;
    align-items: center;
  &img{
    height: 50px;
    width: 60px;
  }
  }

  &__SocialMediaLink {
    color: var(--color-white);
    margin-top: 18px;
    align-items: center;
    &:not(:last-child) {
      margin-right: 18px;
    }
  }

  &__social-media-links {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 42px;
  }
}
